@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Style Principal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #12623e;
    color: #FFFFFF;
    align-items: center;
    height: 3.5rem;
    justify-content: space-between;
    padding: 0 10%;
}

.logo_header a {
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.4s;
    font-weight: bold;
}

.logo_header a:hover{
    color: #FF914D;
}

.header,
.nagivation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nagivation_header{
    gap: 3rem;
}

.nagivation_header a{
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.4s;
    font-weight: bold;
}

.nagivation_header a:hover{
    color: #FF914D;
}

.btn_icon_header{
    display: none;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

body{
    background-color: #fceadd;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.product-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-section p{
    background-color: #fceadd;
    padding: 3px;
}

.product-price{
    font-weight: 700;
    color: #000000;
    margin-bottom: 70px;
}

.product{
    background-color: #fceadd;
    margin: 8px;
    padding: 10px;
    width: calc(18% - 20px);
    border: 1.9px solid #FF914D;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-image{
    background-color: #fceadd;
    width: 150px;
    height: 150px;
}

.product-button{
    position: absolute;
    bottom: 0;
    margin: 15px;
    width: fit-content;
    border: 1.5px solid #FF914D;
    padding: 14px 50px;
    border-radius: 15px;
    background-color: #fceadd;
    font-weight: 500;
    font-size: 16px;
    color: #FF914D;
    text-decoration: none;
}

.product-button:hover{
    background-color: #ff914dc5;
    color: #FFFFFF;
    transition: 0.4s;
}

.product-title{
    display: flex;
    padding: 30px 80px 20px 80px;
    color: #214C39;
    font-weight: 600;
    font-size: 30px;
}

.review{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;   
}

.review-card{
    background-color: #FF914D;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 320px;
    height: 450px;
}

.review-image{
    width: 120px;
    height: 120px;
    background-color: #FF914D;
    margin-bottom: 10px;
}

.review-username{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    background-color: #FF914D;    
}

.review-p{
    font-size: 15px;
    background-color: #FF914D;
    text-align: center;
}

.review-title{
    padding: 40px 80px 20px 80px;
    color: #214C39;
    font-weight: 600;   
    font-size: 30px; 
}



/*Style Cadastro*/
.register-login{
    align-items: center;    
}

.container{
    width: 80%;
    height: 80vh;  
    display: flex;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff914dc5;   
    padding: 20px;
}

.form-image img{
    width: 500px;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;  
    padding: 50px; 
    position: relative;
}

.logo-register-login{
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
}

.logo-register-login img{
    width: 200px;
}

.form-header{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;   
}

.login-button button{
    border: none;
    background-color: #FF914D;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #ff914dc5;    
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
}

.form-header h1{
    font-size: 24px;
    font-weight: 600;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background-color: #FF914D;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-box input{
    margin: 10px 0;
    padding: 15px 22px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1.5px solid #FF914D;
}

.input-box label{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.input-box input::placeholder{
    color: #000000be;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button button{
    width: 50%;
    margin-top: 40px;
    border: none;
    background-color: #FF914D;
    padding: 14px;
    border-radius: 15px;
    cursor: pointer;
}

.form-button button:hover{
    background-color: #ff914dc5;
}

.form-button button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

@media screen and (max-width: 1300px) {
    .form-image{
        display: none;
    }

    .container{
        width: 50%;
    }

    .form{
        width: 100%;
    }

    .logo-register-login img{
        width: 150px;
    }
}

@media screen and (max-width: 1040px) {
    .container{
        width: 90%;
        height: 70vh;
    }

    .logo-register-login img{
        width: 140px;
    }

    .form-header h1{
        font-size: 20px;
        font-weight: 600;
    }

    .login-button button{
        padding: 8px 18px;
    }

    .login-button button a{
        font-size: 14px;
    }

    .input-group{
        flex-direction: column;
        z-index: 5;
        padding-right: 60px;
        padding-left: 10px;
        max-height: 160px;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .input-box label{
        font-size: 14px;
    }

    .form-button button{
        margin-top: 50px;
        padding: 13px;
    }

    .form-button button a{
        font-size: 14px;
    }
}

footer{
    margin-top: 2rem;
    background-color:#12623e;
    width: 100%;
    color: #FFFFFF;
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: all 0.4s;
    color: #FFFFFF;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
} 
    
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #FFFFFF;
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #FF914D;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: #FFFFFF;
}

#input_group{
    display: flex;
    align-items: center;
    background-color: #004a29;
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color:#FF914D;
    border: none;
    color: #FFFFFF;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #FF914D;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-widht: 768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-widht: 426px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/*Style Login*/
.input-group-login{
    padding: 16px 0;
}

.option-register{
    margin-top: 20px;
}

.option-register p{
    font-size: 14px;
}

.option-register p a{
    color: #FF914D;
    font-weight: 500;
}
